# Desafío Evaluado

Pregunta 1: Generar un array ficticio con NumPy.

In [5]:
#importe de librerías
import numpy as np
import pandas as pn

In [26]:
array1 = np.linspace(1, 50, dtype = "int")
print(array1)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

In [32]:
array2 = np.linspace(50, 150, 100, dtype = "int")
print(array2)

[ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 150]

Pregunta 2: Ejecuta un loop que devuelva si el número en el primer array es par o impar

In [27]:
pares = []
impares = []

for i in array1:
    if i%2 == 0:
        pares.append(i)
    else:
        impares.append(i)
print(pares)
print(impares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

Pregunta 3: Genere un loop con el segundo array que cuente las siguientes condiciones:

1) Si el número es divisible por 2 o 3:
2) Si el número es divisible por 2 y 3:
3) Si el número es divisible por 3 pero no por 2:
4) Si el número no es divisible por 2 ni 3:

In [29]:
divisible_por_2_o_3 = []

divisible_por_2_y_3 = []

divisible_por_3 = []

ninguno =[]

In [33]:
for i in array2:
    if i % 2 == 0 or i % 3 == 0: 
        divisible_por_2_o_3.append(i)
    
    if i % 2 == 0 and i % 3 == 0:
        divisible_por_2_y_3.append(i)
    
    if i % 3 == 0 and i % 2 != 0:
        divisible_por_3.append(i)
    
    if i % 3 != 0 and i % 2 != 0:
        ninguno.append(i)

In [34]:
print (divisible_por_2_o_3)
print (divisible_por_2_y_3)
print (divisible_por_3)
print (ninguno)

[50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 116, 117, 118, 120, 122, 123, 124, 126, 128, 129, 130, 132, 134, 135, 136, 138, 140, 141, 142, 144, 146, 147, 148, 150]
[54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150]
[51, 57, 63, 69, 75, 81, 87, 93, 99, 105, 111, 117, 123, 129, 135, 141, 147]
[53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97, 101, 103, 107, 109, 113, 115, 119, 121, 125, 127, 131, 133, 137, 139, 143, 145]

Pregunta 4: Corrección de errores

In [ ]:
#for i in range(100):
#print(I**2)
# El error es que la 'I' no está definida.

Pregunta 5: Utilizando la misma base flights.csv debes hacer un loop y clasificar los meses con una cantidad de pasajeros menor a la media. Para ello:

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('flights.csv')
df['underperforming'] = 0

for i in df.index:
    if df.at[i, 'passengers'] < df.passengers. mean():
        df.at[i,'underperforming'] = 1
else:
    df.at[i,'underperforming'] = 0

In [38]:
df.passengers. mean()

280.2986111111111

In [39]:
df

     year      month  passengers  underperforming
0    1949    January         112                1
1    1949   February         118                1
2    1949      March         132                1
3    1949      April         129                1
4    1949        May         121                1
..    ...        ...         ...              ...
139  1960     August         606                0
140  1960  September         508                0
141  1960    October         461                0
142  1960   November         390                0
143  1960   December         432                0

[144 rows x 4 columns]

pregunta 6: Por último, haz un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia. Para ello:

● Genera dos objetos que guarden la media general y la desviación estándar general de passengers.

● Genera una nueva columna en la tabla de datos que se llame outlier y asígnale 0.

● Ejecuta un loop que recorra cada observación de passengers, donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.

● Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:

○ La observación debe ser menor a la media menos la desviación estándar, o

○ La observación debe ser mayor a la media más la desviación estándar.

○ ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [40]:
mg = df.passengers. mean()
sd = df.passengers.std()
sd

119.96631694294321

In [42]:
df['outlier'] = 0

In [43]:
for i in df.index:
    if df.at[i, 'passengers'] < (mg - sd) or df.at[i, 'passengers'] > (mg + sd):
        df.at[i, 'outlier'] = 1
    else:
        df.at[i, 'outlier'] = 0

df

     year      month  passengers  underperforming  outlier
0    1949    January         112                1        1
1    1949   February         118                1        1
2    1949      March         132                1        1
3    1949      April         129                1        1
4    1949        May         121                1        1
..    ...        ...         ...              ...      ...
139  1960     August         606                0        1
140  1960  September         508                0        1
141  1960    October         461                0        1
142  1960   November         390                0        0
143  1960   December         432                0        1

[144 rows x 5 columns]